@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import 'variables';

body {
  background-image: url("https://www.narcity.com/u/2020/03/18/c442fe4cfaeeefdb59ab9b8ed78d8e0a.png_1200x630.png");
  background-repeat: no-repeat;
  background-size: auto;
}
