@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

@import 'variables';

body {
  font-family: 'Boogaloo', cursive;
}

.button {
  background-color: red;
  height: 60px;
  width: 200px;
  font-family: 'Jolly Lodger', cursive;
  font-size: 2em;
  @include saw-tooth();
  margin: 30px;
}
