@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@600&display=swap');

.card-body {
  background-color: grey;
  height: 250px;
  width: 200px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  font-family: 'Spectral', serif;
  padding-top: 50px;
  border: 1px solid rgb(75, 74, 74)
}

.card {
  padding: 50px;
  margin: 50px;
  background: none;
  border: none;
}
